<h1>スケジュール詳細</h1>
<%= form_for(@task) do |f| %>
  <table>
    <tr>
      <th><%= 'タイトル' %></th>
      <td><%= @task.title %></td>
    </tr>
    <tr>
      <th><%= '開始日' %></th>
      <td><%= @task.start_date.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <th><%= '投稿日時' %></th>
      <td><%= @task.created_at.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <th><%= '終日' %></th>
      <td><%= @task.all_day %></td>
    </tr>
    <tr>
      <th><%= 'スケジュールメモ' %></th>
      <td class="show_memo"><%= @task.body %></td>
    </tr>
  </table>
<% end %>
<ul>
  <li><%= link_to 'スケジュール一覧に戻る', tasks_path, class: "show_style" %></li>
  <li><%= link_to 'スケジュールを編集する', edit_task_path, class: "show_style" %></li>
  <li><%= link_to 'スケジュールを削除', task_path, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "show_style" %></li>
</ul>